<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"	
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd">

<context:component-scan base-package="com.spring.miniproject.product"/>
	<!-- DB정보 -->
	<bean class="org.apache.commons.dbcp2.BasicDataSource"
	      name="dataSource"
	      p:driverClassName="oracle.jdbc.driver.OracleDriver"
	      p:url="jdbc:oracle:thin:@192.168.0.32:1521:xe"
	      p:username="springjdbc"
	      p:password="1234"
	      />

     <!-- SessionFactory Bean -->
	<bean name="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean"
	      p:dataSource-ref="dataSource"
	      p:mapperLocations="classpath:/com/spring/miniproject/product/mybatis/config/**/*.xml"
	      p:typeAliasesPackage="com.spring.miniproject.product.entity"/>
    
    <bean class="org.mybatis.spring.SqlSessionTemplate"
      name="sqlSessionTemplate"
      c:sqlSessionFactory-ref="sqlSessionFactoryBean" />
	
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"/>
    </bean>
      
</beans>

  
